body{
    background:cover;
}

h3{
    font-size: 25px !important;
}

.btn-info:hover{
    background-color:yellowgreen;

}

canvas{
    animation-name: CanvasAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes CanvasAnimation{
    from{box-shadow: 1px 1px 100px orchid;}
    to{box-shadow: 1px 1px 100px salmon;}

}